@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf') format('truetype');
         /* url('../fonts/Vazir.svg#FontName') format('svg'); */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Vazir',Arial, Helvetica, sans-serif;
}
:root {
    --max-width : 1100px;

    --base-color: #ffcb22;
    --dark-color : #000000;
    --second-color : #5e5e5e;
    --light-color : #dadada;
    
    --red-color :red;
    --silver-color:silver;
    --white-color:white;
}
.banner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem;
    align-items: center;
}
.banner h1 {
    padding: 20px;
}
.welcome button a {
    text-decoration: none;
    color: var(--base-color);

}
.welcome button{
    background-color: var(--second-color);
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}
.welcome button:hover {
    background-color: var(--base-color);
    font-size: 20px;
}
.welcome button a:hover { 
    color: var(--second-color);
}
.image {
    width: 100%;
    height: auto;
}
@media (max-width:800px) {
    .banner {
        grid-template-columns: repeat(1,1fr);
    }
    .banner .image{
        padding: 0;
        margin: 0;
    }
}