@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf') format('truetype');
         /* url('../fonts/Vazir.svg#FontName') format('svg'); */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
:root {
    --max-width : 1100px;

    --base-color: #ffcb22;
    --dark-color : #000000;
    --second-color : #5e5e5e;
    --light-color : #dadada;
    
    --red-color :red;
    --silver-color:silver;
    --white-color:white;
}

*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Vazir',Arial, Helvetica, sans-serif;
}
.image {
    width: 40%;
    height: auto;
}